{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .tut-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .card {
            width: 25%;
            min-width: 120px;
            text-align: center;
            margin-bottom: 1rem;
            border: 1px solid #e6e6e6;
            border-radius: 0;
            background: #fefefe;
            box-shadow: none;
            overflow: hidden;
            color: #0a0a0a;
            padding-top: 1em;
        }

        .card-section {
            -webkit-box-flex: 1;
            -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
            flex: 1 0 auto;
            padding: 1rem;
        }

        .text img {
            text-align: center;
            margin: 0 auto;
        }

        .card-section h4 {
            font-size: 0.5em;
            font-weight: bold;
        }


    </style>

    <form action="" method="get">
        {{ form }}
        <input type="submit" value="Submit">
    </form>

    <div class="container">
        <div class="tut-row">
            {% for tutor in tutors %}
                <div class="card">
                    <img src="{{ tutor.img_link }}" style="min-width: 100px; max-width: 120px"
                         class="card-image">
                    <div class="card-section">
                        <h4>{{ tutor.f_name }}<br>{{ tutor.l_name }}</h4>
                        <a href="#{{ tutor.anchor }}">Подробнее</a>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}

